/* Default Ease (Good) */
#defease {
    /* ... */
}

/* Again */
button[data-ease="1"]:not(#defease) {
    /* ... */
}

/* Hard */
button[data-ease="2"]:not(#defease) {
    opacity: 0.5;
    pointer-events: none;
}

/* Easy */
button[data-ease="3"]:not(#defease),
button[data-ease="4"]:not(#defease) {
    opacity: 0.5;
    pointer-events: none;
}
